name: Fetch Secrets from Key Vault

on:
  push:
    branches:
      - main
  workflow_dispatch:
  

jobs:
  fetch-and-create-secret:
    runs-on: ubuntu-latest

    env:
      KEYVAULT_NAME: practice-vault

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify Azure Credentials
        run: |
          if [ -z "${{ secrets.AZURE_CREDENTIALS }}" ]; then
            echo "ERROR: AZURE_CREDENTIALS secret is not set!"
            exit 1
          else
            echo "AZURE_CREDENTIALS secret is set"
          fi

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Fetch secrets from Key Vault
        run: |
          echo "DB_USER=$(az keyvault secret show --vault-name $KEYVAULT_NAME --name DB-USER --query value -o tsv)" >> $GITHUB_ENV
          echo "DB_PASS=$(az keyvault secret show --vault-name $KEYVAULT_NAME --name DB-PASS --query value -o tsv)" >> $GITHUB_ENV
          echo "API_KEY=$(az keyvault secret show --vault-name $KEYVAULT_NAME --name API-KEY --query value -o tsv)" >> $GITHUB_ENV

      - name: Replace placeholders in JSON
        run: |
          cp secrets.template.json secrets.json
          sed -i "s|__DB_USER__|${DB_USER}|g" secrets.json
          sed -i "s|__DB_PASS__|${DB_PASS}|g" secrets.json
          sed -i "s|__API_KEY__|${API_KEY}|g" secrets.json

      - name: Display generated secrets.json
        run: cat secrets.json

      - name: Create temporary Kubernetes Secret
        run: |
          kubectl create secret generic temp-secret \
            --from-file=secrets.json \
            --dry-run=client -o yaml > temp-secret.yaml

      - name: Verify Secret YAML
        run: cat temp-secret.yaml
